@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    
}

:root {
    /* font sizes */
    --step--2: clamp(0.69rem, calc(0.59rem + 0.52vw), 0.96rem);
    --step--1: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.20rem);
    --step-0: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
    --step-1: clamp(1.20rem, calc(0.94rem + 1.32vw), 1.88rem);
    --step-2: clamp(1.44rem, calc(1.09rem + 1.76vw), 2.34rem);
    --step-3: clamp(1.73rem, calc(1.26rem + 2.35vw), 2.93rem);
    --step-4: clamp(2.07rem, calc(1.45rem + 3.10vw), 3.66rem);
    --step-5: clamp(2.49rem, calc(1.67rem + 4.08vw), 4.58rem);

    /* global colors */
    --primary-color: rgb(28, 38, 60);
    --secondary-color: rgb(62, 255, 216);
    --gray-color: rgb(255, 255, 255);
  }

h1{
    font-size: var(--step-5);
}
h2{
    font-size: var(--step-4);
}
h3{
    font-size: var(--step-3);
}
h4{
    font-size: var(--step-2);
}
h5{
    font-size: var(--step-1);
}

p{
    font-size: var(--step-0);
    color: var(--secondary-color);
    font-weight: 600;
    font-family: 'Roboto'
}

span{
    font-size: var(--step--1);
    color: var(--gray-color);
    font-weight: lighter;
    font-family: 'Roboto'
}